section(data-background="#182E59")
  h5 mas e o PM2?
  section
    p sim, PM2 pode fazer o mesmo com apenas uma flag
    pre
      code.bash.
        pm2 --fuckyou test.js
    p porém, às vezes você precisa ter um pouco mais de controle
