- var notes = 'vez que um stormtrooper morre, outro pode ocupar o espaço, mas com algumas melhorias round robin'

section(data-background="#182E59")
  br/
  br/
  h5 alguns pontos que você gostaria de saber:
  section(data-notes=notes, class="smaller-text")
    ul
      li.fragment cluster.fork() executa o mesmo arquivo, em outro processo
      li.fragment mesmo que `child_process`, porém mais cool
      li.fragment consome menos recursos da máquina & compartilha conexões TCP
      li.fragment cada stormtrooper tem seu próprio event loop/espaço na memória
      li.fragment stormtroopers recebem ordens ao vivo, quando e onde necessário
      li.fragment comunicação fiel entre comandante e stormtrooper
      li.fragment não faz café :c
