section(data-background="#182E59")
  h5 cluster, parece difícil, e é mesmo(mentira)
  pre
    code.javascript.
      const cluster = require('cluster')
      const cpus = require('os').cpus().length

      if (cluster.isMaster) {
        for(let i = 0; i < cpus; i++) {
          cluster.fork()
        }
      } else {
        console.log('Yes sir!')
      }
