section(data-background="#3D5E78")
  section
    img(src="img/pixel-character.jpg" class="bio-image")
    h4 Matheus Hernandes
    p(class="smaller-text") Desenvolvedor Back-End na PluggTo
    p(class="smaller-text") Organizador no @BackEndBrasil
    p(class="smaller-text") Futuro Jedi
    a(class="bio-subtext" href="https://twitter.com/onhernandes") @onhernandes
