section(data-background="#182E59")
  h4 parale- o que?
  blockquote Parallel computing is a type of computation in which many calculations or the execution of processes are carried out simultaneously - Wikipedia
