doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/about-me
        include ../slides/intro
        include ../slides/did-u-said
        include ../slides/bob-sponge-concurrency
        include ../slides/and-memes-spiderman
        include ../slides/send-nudes
        include ../slides/giving-up
        include ../slides/going-crazy
        include ../slides/gotta-drink
        include ../slides/paralelism-title
        include ../slides/concurrency-title
        include ../slides/image-example
        include ../slides/code-example
        include ../slides/end
    include inc/scripts
