head
  meta(charset="UTF-8")
  title Paralelismo, Concorrência & Memes
  meta(name="description" content="Paralelismo, Concorrência & Memes: está tudo ligado e é mais simples do que você imagina")
  meta(name="author" content="Matheus Hernandes")
  meta(property="og:type" content="website")
  meta(property="og:image" content="img/bender.jpg")
  meta(property="og:description" content="Paralelismo, Concorrência & Memes: está tudo ligado e é mais simples do que você imagina")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", type="text/css", href="css/main.css")
  link(rel="stylesheet", type="text/css", href="css/theme.css")
