/*
* Css file to create the generic presentation
*/
@import "vendor/reveal"

/*
* In src/styl/highlight-themes have more awesome highlight-themes !!
*/
@import "highlight-themes/atelier-cave-dark"

.text-left
  text-align: left !important

.text-right
  text-align: right !important

.red
  color red

.small-size
  width: 60%

.intro-text
  color: #000 !important

.smaller-text
  font-size: 2rem !important

.bio-subtext
  font-size: 1.7rem !important

.bio-image
  height: 150px

.intro-section
  background-size: contain
  background-image: url('/img/slide-01.png')

.slide-02-image
  height: 80%

a
  font-weight: bold !important
  font-style: italic !important
